
.container {
    max-width: 480pt;
    margin-top: 92pt;
    margin-bottom: 92pt;
}

.row {
    background-color: white;
    border-radius: 12pt;
    padding: 12pt;
}

.col {
    text-align: center;
    padding-bottom: 12pt;
}

.a {
    color: inherit;
}

.img {
    height: 64pt;
}

.label {
    font-size: 14pt;
}