
.item {
    padding-top: 9pt;
    padding-bottom: 9pt;
    font-size: 13pt;
}

.link {
    text-decoration: none;
    color: inherit;
}

.button {
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}