.container-article {
  width: 40%;
  margin: 30% auto 0 auto;
}
.expertImage {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

@media (max-width: 1030px) {
  .container-article {
    width: 60%;
  }
}
@media (max-width: 770px) {
  .container-article {
    width: 80%;
    margin: 80% auto 0 auto;
  }
}
@media (max-width: 550px) {
  .container-article {
    width: 90%;
  }
}
