
.brand {
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand:link {
    text-decoration: none;
}
.logo {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 5.5pt;
    text-align: center;
    width: 32pt;
    height: 32pt;
}
.logoImg {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 1.66pt;
}
.text {
    color: var(--primary-font-color);
    font-size: 1.2rem;
    margin: 0pt 7.5pt;
}
@media screen and (min-width: 768px) {
    .logo {
        width: 38pt;
        height: 38pt;
    }
    .text {
        margin: 0pt 10pt;
    }
}
@media screen and (min-width: 1200px) {
    .logo {
        width: 44pt;
        height: 44pt;
    }
    .text {
        margin: 0pt 10pt;
    }
}