
.container {
  margin-top: 6pt;
  position: relative;
  height: 58pt;
  max-width: 440pt;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    margin-top: 12pt;
    height: 80pt;
  }
}
@media (orientation: portrait) {
  @media (max-height: 600px) {
    .container {
      margin-top: 4pt;
      height: 64pt;
    }
  }
}

.quote {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  opacity: 0.0;
  transition: opacity 0.33s var(--time-func-a);
  padding: 0 2.2pt;
  font-size: 10pt;
}
@media (min-width: 768px) {
  .quote {
    font-size: 14pt;
  }
} 
@media (orientation: landscape) {
  .quote {
    padding: 0 12pt;
  }
}

.selected {
  opacity: 1.0;
}