

.appDemo {
  position: relative;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  height: calc(75 * var(--ivh));
}
@media (orientation: portrait) {
  .appDemo {
    height: calc(46 * var(--ivh));
  }
  @media (max-height: 720px) {
    .appDemo {
      height: calc(44 * var(--ivh));
    }
  }
  @media (max-height: 640px) {
    .appDemo {
      height: calc(38 * var(--ivh));
    }
  }
}

.image {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-50%) !important;
  width: auto;
  height: 100%;
}

