.testimonial-card {
  margin: 0 20px;
  min-height: 320px;
  padding: 10px;
  transition: 0.5s;
  color: black;
  border-radius: 4px;
}
.testimonial-card:hover {
  background-color: #4f9bcf;
  color: white;
  cursor: pointer;
}
.blue {
  background-color: #4f9bcf;
  color: white;
}
.testimonial-card img {
  width: 100%;
  height: 150px;
}
.testimonial-card p {
  font-size: 13px;
}
.video-player-div {
  position: relative;
  width: auto;
}

.iframe-video-section {
  height: 270px;
}

.video-section {
  padding: 10px;
  border: 2px solid #989898;
  border-radius: 6pt;
  width: 85%;
  margin: 20px auto;
  justify-content: space-between;
}

.title-wrapper {
  display: flex;
}
.title-wrapper div:first-child {
  width: 75%;
}

.title-wrapper button {
  display: flex;
  height: 50%;
  margin: auto;
  text-decoration: inherit;
  outline: inherit;
  border: none;
  border-radius: 6pt;
  background-color: var(--primary-background-color);
  box-shadow: 0pt 2pt 1pt 0.5pt rgb(83 148 76 / 70%);
  padding: 9pt;
  font-size: 12pt;
  font-weight: 600;
  color: white;
  transition: background-color 0.33s ease, box-shadow 0.33s ease,
    opacity 0.33s ease;
  cursor: pointer;
}

.video-section p {
  font-size: 15px;
}
.video-section h4 {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 30px;
}
.video-section video {
  margin: auto;
  width: 100%;
  height: 315px;
  border-radius: 6px;
}
/* .testimonial-main:first-of-type(h2) {
  color: black;
} */
.testimonial-main h5 {
  /* color: #77cc6d; */
  color: black;
  margin-bottom: 0;
}
.testimonial-main .testimonial-card h4 {
  font-size: 20px;
  margin-top: 10px;
}

.react-multiple-carousel__arrow--left {
  left: 0 !important;
}
.react-multiple-carousel__arrow--right {
  right: 0 !important;
}
.react-multiple-carousel__arrow {
  background-color: #77cc6d !important;
}

.testimonial-main .Buttons {
  display: flex;
  margin: 40px 0;
  justify-content: space-between;
}
.testimonial-main .Buttons button {
  outline: inherit;
  border: none;
  border-radius: 6pt;
  background-color: white;
  box-shadow: 0pt 1.5pt 2pt 0.5pt rgb(0 0 0 / 20%);
  padding: 9pt;
  font-size: 12pt;
  font-weight: 600;
  color: var(--secondary-font-color);
  transition: background-color 0.33s ease, box-shadow 0.33s ease;
  cursor: pointer;
}

.testimonial-main .Buttons button {
  color: white;
  border: none;
  background-color: var(--primary-background-color);
  cursor: pointer;
  width: 100%;
  box-shadow: 0pt 2pt 1pt 0.5pt rgba(83, 148, 76, 0.7);
  transition: background-color 0.33s ease, box-shadow 0.33s ease;
  border-radius: 6pt;
  overflow: hidden;
  height: 45px;
  position: relative;
  top: -1pt;
  min-width: 75px;
  margin-left: -15px;
}
.testimonial-main .Buttons button:hover {
  background-color: var(--secondary-background-color);
  box-shadow: 0pt 2pt 2pt 1pt rgba(35, 63, 32, 0.45);
}
.testimonial-main .section__h1 {
  margin-top: 30px;
}
svg {
  margin-left: 3px;
  margin-top: 2px;
}

/* 
.testimonial-main .twitter-button {
  background-color: transparent;
  border-radius: 4px;
  padding: 0 10px;
} */
@media (max-width: 770px) {
  .video-section {
    margin: 20px auto;
    width: 95%;
    flex-direction: column;
  }
  .video-section div {
    width: 100%;
    margin-bottom: 10px;
  }
  .video-section div:first-child {
    width: 100%;
    display: block;
  }
  .title-wrapper button {
    padding: 5pt;
  }

  .video-section div:first-child h2 {
    text-align: left;
  }
  .video-section p {
    font-size: 18px;
  }
  .video-section video {
    width: 100%;
    height: auto;
  }
  .testimonial-main h2 {
    text-align: center;
  }
}
.accordian_wrapper {
  border: 2px solid #989898;
  border-radius: 6pt;
}

@media (max-width: 550px) {
  .video-section .video-icons {
    display: none;
  }
  .testimonial-card img {
    object-fit: cover;
  }
  .iframe-video-section {
    height: 180px;
  }
}
