

.container {
    margin-top: 64pt;
    margin-bottom: 64pt;
}

.heading {
    margin-bottom: 36pt !important;
}

.row {
    margin-bottom: 14pt;
    background-color: white;
    border-radius: 12pt;
    padding: 9pt;
}

.right {
    text-align: right;
}

.img {
    height: 48pt;
}

.rowHeading {
    font-size: 16pt;
}

.teamDescription {
    margin-top: 4pt;
    margin-bottom: 6pt !important;
}